:root {
    --primary-color: rgba(242, 101, 34, 1);
    --primari-font-family: Roboto;
}

.background-page {
    background-image: url(../img/background_page.png);
    /*width: 1366px;*/
    width: 100%;
    height: 100%;
    background-size: cover;
    margin: 0 auto;
}

.container {
    width: 1030px;
    margin: 0 auto;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}

.logo-box {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    position: relative;
}

.hidden-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.logo-box:hover .hidden-logo {
    opacity: 1;
}

.logo-box:hover .logo-pic {
    opacity: 0;
}

.logo-box:hover .logo-text {
    color: var(--primary-color);
}

.logo-text {
    font-family: var(--primari-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 23px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 8px;
    padding: 0;
}

.logo-text-small {
    font-size: 18px;
    line-height: 13px;
}

.contact-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.contact-text {
    font-family: var(--primari-font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.contact-text:hover {
    color: var(--primary-color);
}

.fit-link-area {
    align-self: flex-end;
}

.tours-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 37px;
    margin-top: 17px;
}

.tours-card {
    text-align: center;
    text-decoration: none;
}

.card-image-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
}

.card-picture {
    width: 100%;
}

.card-name {
    font-family: var(--primari-font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 20px;
}

.hidden-price-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    top: unset;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    padding: 7px 14px 12px 16px;
    visibility: hidden;
}

.hidden-price {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.tours-card:hover .hidden-price-box {
    visibility: visible;
}

.tours-card:hover .card-name {
    color: var(--primary-color);
}

.limit-price {
    font-family: var(--primari-font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}

.sum-price {
    font-family: var(--primari-font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 8px;
}

.details {
    width: 99px;
}

.details-text {
    font-family: var(--primari-font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    position: relative;
    text-align: left;
}

.vector-img:after {
    content: '';
    position: absolute;
    right: 0;
    background-image: url(../img/Vector_detail.png);
    background-repeat: no-repeat;
    width: 10px;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

.footer {
    margin-top: 49px;
    padding-bottom: 15px;
}

.footer-text {
    font-family: var(--primari-font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
}